.burger {
    padding: 0;
    border: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    $root: &;
    

    &:hover,
    &:focus-visible {
        .burger__line {
            outline: none;
            background-color: $color-ecru;
        }
    }

    &--active {
        #{$root}__line {
            top: calc(50% - 1px);
            transition: opacity ease-in 0.2s, top ease-in 0.2s, transform ease-in 0.2s 0.3s;
        }

        #{$root}__line--top {
            transform: rotate(45deg);
        }

        #{$root}__line--central {
            opacity: 0;
        }

        #{$root}__line--bottom {
            transform: rotate(-45deg);
        }
    }

    &__line {
        width: 100%;
        height: 2px;
        background-color: $color-boraka-grey;
        position: absolute;
        transition: opacity ease-in 0.2s 0.3s, top ease-in 0.2s 0.3s, transform ease-in 0.2s, background-color ease-in 0.2s;;

        &--top {
            top: 6px;
        }

        &--central {
            top: 50%;
            transform: translateY(-50%);
        }

        &--bottom {
            top: 25px;
        }
    }
}