.cart {
    padding: 0 0 100px;

    &__main {
        display: grid;
        grid-template-columns: 1fr minmax(250px, 350px);
        gap: 30px;
        align-items: start;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        padding-right: 30px;
    }

    &__sidebar {
        max-height: 400px;
        background-color: $color-white;
        padding: 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 0px 0px 21px 4px rgba(34, 60, 80, 0.2);
        position: sticky;
        top: 120px;
    }

    &__total {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 30px;
    }

    &__total-title {
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 20px;
       border-bottom: 1px solid;
    }

    &__total-row {
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 10px;

        &--final {
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            margin: 10px 0 0;
        }
    }

    &__checkout-btn {
        font-size: 16px;
        line-height: 24px;
        padding: 12px;
        margin: 0 0 20px;
    }

    &__clear-btn {
        margin-top: auto;
        border: 1px solid $color-charcoal-50;
        padding: 8px;
        background-color: transparent;
        border-radius: 4px;
        font-family: $ff-astra;
        background-color: $color-ecru-10;
        color: $color-charcoal;
        cursor: pointer;
        transition: background-color 0.2s ease-in;

        &:hover,
        &:focus-visible {
            outline: none;
            background-color: $color-ecru-20;
        }
    }
}