.header {
    padding: 15px 0;
    position: fixed;
    background-color: $color-white;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 5px 15px -1px rgba(34, 60, 80, 0.2);


    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        position: relative;
    }

    &__inner {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    &__weather {
        font-size: 40px;
        line-height: 44px;
    }

    &__logo-link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 145px;

        svg {
            pointer-events: none;
            width: 70px;
            height: 70px;
        }
    }

    &__user-inner {
        display: flex;
        align-items: center;
        gap: 100px;
    }

    &__login-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-family: $ff-astra;
        font-size: 16px;
        line-height: 24px;
        color: $color-charcoal;
        border: none;
        background-color: transparent;
        padding: 0;
        text-transform: uppercase;
        cursor: pointer;
        transition: color ease-in 0.2s;

        svg {
            pointer-events: none;
            width: 30px;
            height: 30px;
        }

        &:hover,
        &:focus-visible {
            outline: none;
            color: $color-ecru;
        }
    }

    &__links {
        display: flex;
        gap: 20px;
    }

    &__user-link {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color ease-in 0.2s;

        &:hover,
        &:focus-visible {
            outline: none;
            color: $color-ecru;
        }

        svg {
            pointer-events: none;
            width: 32px;
            height: 32px;
        }

    }
}