.header {
    padding: 15px 0;
    position: fixed;
    background-color: $color-white;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 5px 15px -1px rgba(34, 60, 80, 0.2);


    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        position: relative;
    }

    &__inner {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    &__weather {
        font-size: 40px;
        line-height: 44px;
    }

    &__logo-link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 80px;

        svg {
            pointer-events: none;
            width: 70px;
            height: 70px;
        }
    }

    &__user-inner {
        display: flex;
        align-items: center;
        gap: 100px;
    }

    &__btn-wrap {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__btn {
        font-family: $ff-astra;
        font-size: 16px;
        line-height: 24px;
        color: $color-charcoal;
        border: none;
        background-color: transparent;
        padding: 0;
        text-transform: uppercase;
        cursor: pointer;
        transition: color ease-in 0.2s;

        &:hover,
        &:focus-visible {
            outline: none;
            color: $color-ecru;
        }
    }

    &__login-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        
        svg {
            pointer-events: none;
            width: 30px;
            height: 30px;
        }
    }

    &__logout-btn {
        display: none;
    }

    &__links {
        display: flex;
        gap: 20px;
    }

    &__user-link {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color ease-in 0.2s;
        position: relative;

        &:hover,
        &:focus-visible {
            outline: none;
            color: $color-ecru;

            .header__counter {
                background-color: $color-ecru;
            }
        }

        svg {
            pointer-events: none;
            width: 32px;
            height: 32px;
        }

    }

    &__counter {
        background-color: $color-charcoal;
        width: 15px;
        height: 15px;
        color: $color-white;
        border-radius: 50%;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -5px;
        bottom: 0;
        transition: background-color ease-in 0.2s;
        z-index: 5;
    }
}