.page-header {
    padding: 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 40px;

    &__title {
        margin: 0 0 20px;
        font-size: 36px;
        line-height: 44px;
    }

    &__description {
        margin: 0;
    }
}