.product-card {
    width: 100%;
    padding: 20px;
    background-color: $color-white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: box-shadow ease-in 0.2s;

    &:hover,
    &:focus-visible {
        outline: none;
        box-shadow: 0px 0px 16px 3px rgba(34, 60, 80, 0.2);

    }

    &__image {
        width: 100%;
        max-height: 200px;
        flex-shrink: 0;
        margin: 0 0 20px;
    }

    &__favorite {
        border: none;
        padding: 0;
        background-color: transparent;
        color: $color-charcoal;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transition: color ease-in 0.2s;
        z-index: 100;
        pointer-events: auto;

        svg {
            pointer-events: none;
        }

        &--active {
            .product-card__favorite-icon {
                display: none;
            }

            .product-card__favorite-icon--active {
                display: block;
            }
        }

        &--remove {
            top: 15px;
            right: 15px;
            transition: transform 0.2s ease-in;

            &:hover {
                transform: scale(1.2);
            }
        }

        &:hover,
        &:focus-visible {
            outline: none;
            color: $color-ecru;
        }
    }

    &__favorite-icon {
        width: 30px;
        height: 30px;

        &--active {
            display: none;
        }

        &--remove {
            width: 25px;
            height: 25px;
        }
    }

    &__title {
        font-size: 18px;
        line-height: 28px;
        margin: 0 0 10px;
    }

    &__price {
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 15px;
    }

    &__cart-controls {
        width: 100%;
        height: 42px;

        &--active {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            background-color: $color-ecru-30;
            border-radius: 12px;
            font-size: 18px;
            line-height: 24px;
            color: $color-charcoal;
        }
    }

    &__quantity-btn {
        background-color: transparent;
        border: none;
        padding: 0 25px;
        height: 100%;
        font-size: 24px;
        line-height: 32px;
        color: $color-charcoal;
        cursor: pointer;
        transition: color ease-in 0.2s;

        &:hover,
        &:focus-visible {
            outline: none;
            color: $color-ecru;
        }
    }

    &__cart-btn {
        width: 100%;
        height: 100%;
        font-size: 14px;
        line-height: 18px;
    }
}