$color-white: #ffffff;
$color-white-70: rgba(255, 255, 255, 0.7);
$color-black: #000000;
$color-black-60: rgba(0, 0, 0, 0.6);
$color-boraka-grey: #141211;
$color-floral-white: #fffbf3;
$color-very-light-grey: #c7c7c7;
$color-charcoal: #424242;
$color-ecru: #c2ae7d;
$color-ecru-10: rgba(194, 174, 125, 0.1);
$color-russett: #77655f;


$ff-astra: "Pt-Astra", "Arial", sans-serif;
